[*.{cs,vb}]

# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

# IDE0041: Use 'is null' check
dotnet_diagnostic.IDE0041.severity = none

# IDE0160: Convert to block-scoped namespace
csharp_style_namespace_declarations = block_scoped
