# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
indent_style = space
tab_width = 4

#### .NET Coding Conventions ####

# this. and Me. preferences
dotnet_style_qualification_for_method = false

#### Diagnostic configuration ####

# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

# Tests C# files
[test/**.cs]

# CA1014: Mark assemblies with CLSCompliantAttribute
dotnet_diagnostic.CA1014.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1716: Identifiers should not match keywords
dotnet_diagnostic.CA1716.severity = none