trigger:
  batch: true
  branches:
    include:
    - '*'

pr:
  branches:
    include:
    - '*'

resources:
  repositories:
    - repository: GodelTech
      type: github
      endpoint: 'godeltech'
      name: 'GodelTech/AzureDevOps.Pipeline.Templates'
      ref: 'refs/heads/master'

extends:
  template: '.NET Core/NuGet.yml@GodelTech'
  parameters:
    artifactPackDirectory: 'packages'
    buildConfiguration: 'Release'
    internalFeed: '19324bbd-9baf-4407-b86d-3e7f0d145399/1574777e-9941-4b90-baa9-d9938266ac24'
    sonarCloudOrganizationName: 'godeltech'
