[*.{cs,vb}]

# CA2007: Do not directly await a Task
dotnet_diagnostic.CA2007.severity = none

# CA1014: Mark assemblies with CLSCompliantAttribute
dotnet_diagnostic.CA1014.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# IDE0160: Convert to block-scoped namespace
csharp_style_namespace_declarations = block_scoped
